---
BasedOnStyle: GNU
IndentWidth: 4
TabWidth: 4 # Should match IndentWidth when UseTab is Never
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: GNU
PointerAlignment: Right # Aligns '*' or '&' to the right, with the name (e.g., char *ptr)
IndentCaseLabels: true # Indent 'case' labels within a 'switch' statement
SortIncludes: true # Set to true if you want includes to be sorted. Can be 'CaseSensitive' or 'CaseInsensitive'
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
